.container {
  margin-top: 200px;
  margin-bottom: 100px;
  text-align: center;
  min-height: 500px;
}


.form-container {
  display: inline-block;
  width: 50%;
  align-content: center;
}

.full-width {
  width: 100%;
  flex: 1 1 auto;
}

.card-container {
  display: block;
  padding: 20px;
  align-items: center;
  width: 100%;
}

mat-divider {
  width: 80%!important;
}
