<h1 mat-dialog-title>Introduce los nuevos datos del gimnasio</h1>
<div mat-dialog-content>
  <form class="first-form-group">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Codigo" #codNameInput="ngModel" name="codName" [(ngModel)]="data.gym.codName"
        required>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Nombre" #nameInput="ngModel" name="name" [(ngModel)]="data.gym.name" required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Dirección" #addressInput="ngModel" name="address" [(ngModel)]="data.gym.address"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Nº contacto" #contactNumberInput="ngModel" name="contactNumber" [(ngModel)]="data.gym.contactNumber"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Hoario lunes a viernes" #mondayToFridayInput="ngModel" name="mondayToFriday" [(ngModel)]="data.gym.openingHours.mondayToFriday"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Horario fines de semana" #wekeendsInput="ngModel" name="weekends" [(ngModel)]="data.gym.openingHours.weekend"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Latitud" #latitudeInput="ngModel" name="latitude" [(ngModel)]="data.gym.coordinates.latitude"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Longitud" #longitudeInput="ngModel" name="longitude" [(ngModel)]="data.gym.coordinates.longitude"
        required />
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onBackClick()">Atrás</button>
  <button mat-button color="primary" (click)="onEditClick()" cdkFocusInitial>Actualizar</button>
</div>
