.container {
}

mat-card {
  margin: 10px 0;
}

/* img {
  max-width: 400px;
} */

.card-container {
  display: inline-flex;
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
}

mat-card {
  overflow: hidden;
}
img {
  opacity: 0.8;
  transition: transform .3s;
}

img:hover {
  opacity: 1;
  transform: scale(1.05);
}
