<div class="main-container">

    <mwl-calendar-week-view [dayStartHour]= "6" [dayEndHour]="21" [weekStartsOn]="weekStartsOn"
    [locale]="es" [viewDate]="viewDate" [events]="events" [refresh]="refresh">
    </mwl-calendar-week-view>

    </div>
  <!-- (eventClicked)="handleEvent('Clicked', $event.event)"
  (eventTimesChanged)="eventTimesChanged($event)" -->

  <!-- <h3>
      Edit events
      <button class="btn btn-primary pull-right" (click)="addEvent()">
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Title</th>
          <th>Primary color</th>
          <th>Secondary color</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Remove</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let event of events; let index = index">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color.secondary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <!-- datetimepicker
          </td>
          <td>
                        <!-- datetimepicker
          </td>
          <td>
            <button
              class="btn btn-danger"
              (click)="events.splice(index, 1); refresh.next()"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table> -->
