<h1 mat-dialog-title>Introduce los nuevos datos del evento</h1>
<div mat-dialog-content>
  <form class="first-form-group">
      <mat-form-field class="full-width">
          <input matInput type="text" placeholder="Nombre actividad" #activityNameInput="ngModel" name="activityName" [(ngModel)]="data.event.activityName"
          required disabled />
      </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="number" max="23" placeholder="Hora comienzo" #startHourInput="ngModel" name="startHour" [(ngModel)]="data.event.startHour"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput type="number" max="24" placeholder="Hora final" #endHourInput="ngModel" name="endHour" [(ngModel)]="data.event.endHour"
        required />
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput type="number" max="7" placeholder="Dia de la semana" #dayOfWeekInput="ngModel" name="dayOfWeek" [(ngModel)]="data.event.dayOfWeek"
          required />
      </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onBackClick()">Atrás</button>
  <button mat-button color="primary" (click)="onEditClick()" cdkFocusInitial>Actualizar</button>
</div>
