<h1 mat-dialog-title>Introduce los nuevos datos del evento</h1>
<div mat-dialog-content>
  <form class="first-form-group">
    <mat-form-field class="full-width">
      <input matInput type="text" placeholder="Nombre actividad" #activityNameInput="ngModel" name="activityName"
        [(ngModel)]="data.event.activityName" required disabled />
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Hora comienzo" name="startHour" #startHour [(ngModel)]="data.event.startHour" required>
        <mat-option *ngFor="let hour of startHours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Hora fin" name="endHour" #endHour [(ngModel)]="data.event.endHour" required>
        <mat-option *ngFor="let hour of endHours" [value]="hour">
          {{hour}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-select placeholder="Dia de la semana" ngModel name="dayOfWeek" #dayOfWeek [(ngModel)]="data.event.dayOfWeek"
        required>
        <mat-option *ngFor="let day of daysOfWeek" [value]="day.number">
          {{day.string}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-error *ngIf="showHourError">La hora de fin debe ser mayor que la de comienzo</mat-error>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onBackClick()">Atrás</button>
  <button mat-button color="primary" (click)="onEditClick()" cdkFocusInitial>Actualizar</button>
</div>
