.container {
  min-height: 500px!important;
  margin-top: 200px;
  margin-bottom: 100px;
}

.first-form-group {
  display: block;
}

.second-form-group {
  display: block;
}

.full-width {
  width: 50%;
  display: block;
}

.container {
  margin-bottom: 130px;
}
