<div class="container light-theme">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>fitness_center</mat-icon>
        GIMNASIOS
      </ng-template>
      <app-admin-gyms></app-admin-gyms>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>directions_run</mat-icon>
        ACTIVIDADES
      </ng-template>
      <app-admin-activities></app-admin-activities>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>calendar_today</mat-icon>
        EVENTOS
      </ng-template>
      <app-admin-events></app-admin-events>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>golf_course</mat-icon>
        CURSOS
      </ng-template>
      <app-admin-courses></app-admin-courses>
    </mat-tab>


    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>euro_symbol</mat-icon>
        CUOTAS
      </ng-template>
      <app-admin-quotas></app-admin-quotas>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>account_circle</mat-icon>
        USUARIOS
      </ng-template>
      <app-admin-users></app-admin-users>
    </mat-tab>

  </mat-tab-group>
</div>
