<div class="dark-theme">
  <mat-toolbar class="main-header  mat-elevation-z24" color="primary">
    <mat-toolbar-row>
      <a routerLink="/" style="width: 24%; min-width: 24%;"><img style="width: 100%;" src="../../../assets/logo/IRONSQUAT1_white.png" />
      </a>
      <span class="spacer"></span>
      <ul>
        <li *ngIf="!userIsAuth">
          <a id="login" mat-button routerLink="/auth/login" class="login-button" routerLinkActive="mat-accent">AREA DE CLIENTE</a>
        </li>
        <li *ngIf="userIsAuth">
          <a mat-raised-button routerLink="/user/{{userId}}" class="user-profile-button" routerLinkActive="mat-accent">AREA DE CLIENTE</a>
        </li>
        <li *ngIf="userIsAuth &amp;&amp; userIsAdmin">
          <a mat-raised-button routerLink="/admin" class="admin-button" routerLinkActive="mat-accent">AREA DE ADMINISTRADOR</a>
        </li>
        <li *ngIf="!userIsAuth">
          <a mat-raised-button routerLink="/auth/signup" class="signup-button" routerLinkActive="mat-accent">INSCRÍBETE</a>
        </li>
        <li  *ngIf="userIsAuth">
            <a id="logout" mat-button (click)="onLogout()">SALIR</a>
          </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar class="secondary-header mat-elevation-z20" color="primary">
    <mat-toolbar-row>
      <ul>
        <li routerLink="/gyms" routerLinkActive="active">
          <a>CENTROS</a>
        </li>

        <li routerLink="/tryfree" routerLinkActive="active">
          <a>PRUEBA GRATIS</a>
        </li>
        <li routerLink="/quotas" routerLinkActive="active">
          <a>CUOTAS</a>
        </li>
        <li routerLink="/activities/at/any" routerLinkActive="active">
          <a id="activities">ACTIVIDADES</a>
        </li>
        <li routerLink="/courses" routerLinkActive="active">
          <a>CURSOS</a>
        </li>

        <li routerLink="/shop" routerLinkActive="active">
          <a>TIENDA</a>
        </li>
      </ul>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
