<mat-toolbar>
  <button mat-icon-button matTooltip="Añadir" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Editar" [disabled]="!selection.hasValue() || multipleSelected()"
  (click)="openEditDialog()">
    <mat-icon>edit</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Eliminar" [disabled]="!selection.hasValue()"
  (click)="openDeleteDialog()">
    <mat-icon>delete</mat-icon>
  </button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Búsqueda">
</mat-form-field>
</mat-toolbar>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Descripción </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="imageUrl">
    <th mat-header-cell *matHeaderCellDef> Url de imagen </th>
    <td mat-cell *matCellDef="let element"> {{element.imageUrl}} </td>
  </ng-container>

  <ng-container matColumnDef="openingHours">
    <th mat-header-cell *matHeaderCellDef>Horario de apertura </th>
    <td mat-cell *matCellDef="let element">L-V: {{element.openingHours.mondayToFriday}} <br />S-D:
      {{element.openingHours.weekend}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
</table>
