<div class="light-theme black">
  <div class="slideshow_container shadowed" style="width: 100%">
    <slideshow #slideshow (click)="onClick($event)"
      [height]="'600px'"
      [minHeight]="'200px'"
      [autoPlay]="true"
      [autoPlayInterval]="'5000'"
      [showArrows]="true"
      [imageUrls]="carouselSource"
      [lazyLoad]="carouselSource?.length > 1"
      [autoPlayWaitForLazyLoad]="true"
      [showDots]="true"
      [showCaptions]="false">
    </slideshow>
  </div>
  <ul class="banner shadowed">
      <li routerLink="/gyms" >
        <a><img src="../../assets/home/find_your_gym_text2.jpg" /></a>
      </li>
      <li routerLink="/gyms/at/any" >
        <a><img src="../../assets/home/mancuernas_instalaciones.jpg" /></a>
      </li>
      <li routerLink="/auth/login" >
        <a><img src="../../assets/home/escaleras_login.jpg" /></a>
      </li>
      <li routerLink="/shop" >
        <a><img src="../../assets/home/shop_text.jpg" /></a>
      </li>
    </ul>
</div>
